check
asm_coverage
instr/Makefile
mmult/Makefile
prng/Makefile
sort/Makefile
prng/.zero
sort/.zero
sort/insertion-ccomp-kvx
sort/insertion-gcc-kvx
sort/insertion-gcc-x86
sort/main-ccomp-kvx
sort/main-gcc-kvx
sort/main-gcc-x86
sort/merge-ccomp-kvx
sort/merge-gcc-kvx
sort/merge-gcc-x86
sort/selection-ccomp-kvx
sort/selection-gcc-kvx
sort/selection-gcc-x86
