check
asm_coverage
instr/Makefile
mmult/Makefile
prng/Makefile
sort/Makefile
prng/.zero
sort/.zero
sort/insertion-ccomp-k1c
sort/insertion-gcc-k1c
sort/insertion-gcc-x86
sort/main-ccomp-k1c
sort/main-gcc-k1c
sort/main-gcc-x86
sort/merge-ccomp-k1c
sort/merge-gcc-k1c
sort/merge-gcc-x86
sort/selection-ccomp-k1c
sort/selection-gcc-k1c
sort/selection-gcc-x86
